body {
    background-color: #0d0d0d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------------ head ------------------------ */

h1 {
    text-align: center;
    color: #2e5a4f;
    font-size: 5vw;
    font-family: math;
    margin-bottom: auto;
}

#back {
    width: 95vw;
    margin: 1% 0%;
    margin-bottom: 0;
}

#back > a > img {
    width: 50px;
    height: 30px;
}

/* ------------------------ main ------------------------ */

main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

.card > img {
    width: 31vw;
    height: 18vw;
}

.info {
    color: white;
    font-size: 1.4vw;
}

.price {
    font-size: larger;
    color: white;
}

/* ----------------------------------Окно инфо кухни-------------------------------------------------- */

.button {
  background-color: #2e5a4f;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 9vw;
}

.popup {
  display: none; /* Скрываем окно по умолчанию */
  position: fixed; /* Фиксированное позиционирование, чтобы окно не прокручивалось */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 1000; /*  Устанавливаем высокий z-index, чтобы окно было поверх всего */
  font-weight: 700;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем окно */
  background-color: #30302f;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%; /* Задаем ширину окна */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* --------------------------- Карта кухни --------------------------- */

.citchen-card {
    display: flex;
    gap: 2vw;
}

.citchen-card > img {
    width: 19vw;
    height: 25vw;
}